<div>
  <div class="d-flex justify-content-between align-items-center m-1">
    <label class="d-flex align-items-center"
      >Show
      <select class="form-control mx-25"  [(ngModel)]="selectedOption">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="100">100</option>
      </select>
      entries</label
    >
    <label class="d-flex align-items-center ml-1 ml-md-0"
    >Search<input
      [(ngModel)]="searchValue"
      name="searchValue"
      type="search"
      class="form-control ml-25"

  /></label>
  </div> 
  <ngx-datatable class="bootstrap core-bootstrap" [rows]="rows | filter: searchValue" [columns]="columns" [limit]="selectedOption"

  [headerHeight]="50"
  [footerHeight]="50"
  [scrollbarH]="true"> 

    <ngx-datatable-column name="User" prop="name" [width]="120" [resizeable]="false"></ngx-datatable-column>
    <ngx-datatable-column name="Total Hours" prop="gender" [width]="120" [resizeable]="false"></ngx-datatable-column>
    <ngx-datatable-column name="Productive" prop="company" [width]="120" [resizeable]="false"></ngx-datatable-column>

  </ngx-datatable>
</div>
<router-outlet></router-outlet>
